name: Go Build

on:
  push:
    branches:
     - master
     - code_cleaup
  pull_request:
    branches:
     - master
     - code_cleaup

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - name: Set up Go 1.x
      uses: actions/setup-go@v2
      with:
        go-version: ^1.17
      id: go
    - name: Check out code into the Go module directory
      uses: actions/checkout@v2
    - name: Format
      run: gofmt ./pkg
    - name: Go Vet
      run: go vet ./pkg
    - name: Build
      run: go build -o ./pkg ./pkg 